/***********/
/*VARIABLES*/
/***********/

:root {
    /*TEXT*/
    --title: 600 64px / 70.4px 'Kanit';
    --sub-title: 600 20px / 22px 'Kanit';
    --small-title: 600 40px / 44px 'Kanit';
    --paragraph: 400 16px / 24px 'Kanit';
    --link: 600 16px / 1 'Kanit';
    /*COLOURS*/
    --primary: #FFFFFF;
    --primary-static: #FFFFFF;
    --primary-darker: #eff4f5;
    --secondary: #7645D9;
    --secondary-darker: #280d5f;
    --secondary-lighter: #7a6eaa; 
    --secondary-lightest: #b8add2;
    --accent: #1fc7d4;
    --accent-alert-soft: #ffb237;
    --accent-alert-strong: #ED4B9E;
    --background-alt: #27262c;
    --primary-darkmode: #08060B;
    --disabled: #666171;
    --card-shadow: #E7E3EB;
    --card-shadow-dark: #383241;
    --card-background: var(var(--primary)); 
    /*BUTTONS*/
    --main-button-shadow: inset 0px -1px 0px 0px rgb(14 14 44 / 40%);
    --button-border-radius: 1rem;
    --button-height: 3rem;
    --button-small-height: 2rem;
    --button-padding: 0 1.5rem;
    /*GRADIENTS*/
    --gradient-accent-alert-soft: linear-gradient(var(--accent-alert-soft), #FFE76A);
    --gradient-secondary: linear-gradient(var(--secondary), #5121b1);
    /*CARDS*/
    --big-card-h: 23rem;
    --big-card-w: 18rem;
    --cards-border-radius: 1.5rem;
    --cards-padding: 1.5rem;
    --card-h: 17.5rem;
    --card-w: var(var(--card-h));
}
  
:root:has(#dark-mode:checked) {
    --primary: var(--primary-darkmode);
    --card-shadow: var(--card-shadow-dark);
    --card-background: var(--background-alt); 
}

/******************/
/*GENERAL SETTINGS*/
/******************/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}

/*Scroll-bar*/
        ::-webkit-scrollbar {
            width: 8px;
        }
        ::-webkit-scrollbar-thumb {
            background: var(--secondary-lighter);
            border-radius: 8px;
        }
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px 0px var(--primary);
            border-radius: 10px;
        }
        :root:has(#dark-mode:checked) ::-webkit-scrollbar-thumb {
            background: var(--secondary-lightest);
            border-radius: 8px;
        }
        :root:has(#dark-mode:checked) ::-webkit-scrollbar-track {
            background-color: var(--primary);
            border-radius: 10px;
        }
/*****************/
/*TEXT PROPERTIES*/
/*****************/

        .title {
            font: var(--title);
            color: var(--secondary);
        }
        .small-title {
            font: var(--small-title);
            color: var(--secondary-darker);
        }
        .sub-title {
            font: var(--sub-title);
            color: var(--secondary-darker);
        }
        .paragraph {
            font: var(--paragraph);
            color: var(--secondary-lighter);
        }
        .paragraph-bold {
            font: var(--link);
        }

/*DARK MODE*/
        :root:has(#dark-mode:checked) .small-title {
            color: var(--primary-static);
        }
        :root:has(#dark-mode:checked) .sub-title {
            color: var(--primary-static);
        }
        :root:has(#dark-mode:checked) .paragraph {
            color: var(--secondary-lightest);
        }

/********************/
/*BUTTONS PROPERTIES*/
/********************/

/*MAIN BUTTON*/
        .main-button {
            display: flex;
            align-items: center;
            justify-content: center;
            /*Style*/
            height: var(--button-height);
            padding: var(--button-padding);
            background-color: var(--accent);
            border-radius: var(--button-border-radius);
            box-shadow: var(--main-button-shadow);
            /*Font*/
            font: var(--link);
            color: var(--primary);
            letter-spacing: 0.03em;

            cursor: pointer;
            transition: all 0s;
        }
        .main-button:hover {
            opacity: .66;
        }
        .main-button:active {
            opacity: .85;
            transform: translateY(1px);
            box-shadow: none;
        }

/*FAKE BUTTON (links that look like a button)*/
        .fake-button {
            display: flex;
            align-items: center;
            justify-content: center;
            /*Style*/
            height: var(--button-height);
            padding: var(--button-padding);
            background-color: transparent;
            border: solid 2px var(--accent);
            border-radius: var(--button-border-radius);
            /*Font*/
            font: var(--link);
            color: var(--accent);
            letter-spacing: 0.03em;

            cursor: pointer;
            transition: all 0s;
        }
        .fake-button:hover {
            opacity: .66;
        }
        .fake-button:active {
            opacity: .85;
            transform: translateY(1px);
            box-shadow: none;
        }

/*LINK*/
        .link {
            font: var(--link);
            color: var(--accent);
        }
        .link:hover {
            text-decoration: underline;
        }

/*MENU BUTTON*/
        .menu-button {
            display: flex;
            align-items: center;
            justify-content: center;
            /*Style*/
            height: var(--button-small-height);
            padding: var(--button-padding);
            background-color: var(--accent);
            border-radius: calc(var(--button-small-height) / 2);
            box-shadow: var(--main-button-shadow);
            /*Font*/
            font: var(--link);
            color: var(--primary);
            letter-spacing: 0.03em;

            cursor: pointer;
            transition: all 0s;
        }
        .menu-button:hover {
            opacity: .66;
        }
        .menu-button:active {
            opacity: .85;
            transform: translateY(1px);
            box-shadow: none;
        }

/*TOGGLE SWITCH*/
        .toggle-switch {
            position: relative;
            height: var(--button-small-height);
            width: calc(var(--button-small-height) * 1.75);
            border-radius: calc(var(--button-small-height) / 2);
            background: var(--disabled);
            transition: all .3s ease-in-out;
        }
        .toggle-switch input {
            appearance: none; 
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            z-index: 100;
        }
        .switch-base {
            display: flex;
            height: 100%;
            width: 100%;
            padding: 4px;
        }
        .switch-base img {
            margin: 2px;
            object-fit: contain;
        }
        .switch-icon {
            position: absolute;
            display: flex;
            align-content: center;
            justify-content: center;
            top: 0;
            left: 0;
            padding: 3px;
            height: var(--button-small-height);
            width: var(--button-small-height);
            border-radius: 50%;
            border: solid 4px var(--disabled);
            background: var(--background-alt);
            transition: all .3s ease-in-out;
        }
        .switch-icon::after {
            content: "";
            background-image: url(../res/icons/sun-colored.svg);
            background-size: cover;
            content: "";
            height: 100%;
            width: 100%;
        }
        .toggle-switch input:hover ~ .switch-icon {
            border: solid 4px var(--secondary);
        }
        .toggle-switch input:checked ~ .switch-icon {
            transform: translateX(calc(100% - 8px));
        }
        .toggle-switch input:checked ~ .switch-icon::after {
            background-image: url(../res/icons/moon-colored.svg);
        }
/********************/
/*BUTTONS PROPERTIES*/
/********************/
        /*BIG CARD*/
        .big-card {
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: space-between;
            width: var(--big-card-w);
            height: var(--big-card-h);
            padding: var(--cards-padding);
            border-radius: var(--cards-border-radius);
            font: var(--paragraph);
        }
        /* Text flickers in transitions with mix-blend-mode
        .big-card::after {
            content: " ";
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: var(--cards-border-radius);
            box-shadow: var(--big-card-shadow);
            mix-blend-mode: color-burn;
            pointer-events: none;
        }
        */
        .big-card .big-card-icon{
            text-align: end;
        }
        .big-card .big-card-title {
            display: flex;
            flex-direction: column;
        }
        .big-card .big-card-title .amount {
            margin: .75rem 0;
        }
        .big-card .caption {
            margin: 1rem 0;
        }
        .big-card .cta button {
            width: 100%;
            transition: opacity 0.2s ease 0s;
        }
        .big-card .cta svg{
            fill: var(--primary);
        }
        /*Yellow card*/
        .yellow-card {
            background: var(--gradient-accent-alert-soft);
            color: var(--secondary-darker);
            box-shadow: inset 0px -4px 0px 0px var(--accent-alert-soft);
        }
        /*Purple card*/
        .purple-card{
            background: var(--gradient-secondary);
            color: var(--primary-static);
            box-shadow: inset 0px -4px 0px 0px var(--secondary-darker);
        }
        .purple-card .amount {
            background-image : var(--gradient-accent-alert-soft);
            background-position-x : 0%; 
            background-position-y : 0%; 
            background-clip : text; 
            -webkit-background-clip : text;
            color: transparent; 
            -webkit-text-fill-color : rgba(0, 0, 0, 0);
        }

        .left-card {
            transform: rotate(-1.43deg);
        }
        .right-card {
            transform: rotate(1.43deg);
        }

        /*SMALL CARD*/
        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: var(--card-h);
            width: var(--card-w);
            padding: var(--cards-padding);
            border: solid 1px var(--card-shadow);
            border-radius: var(--cards-border-radius);
            background: var(--card-background);
            box-shadow: 0px 4px 0px 0px var(--card-shadow);
        }

        .card-icon {
            height: calc(50% - (var(--cards-padding) * 2));
            display: flex;
            justify-content: flex-end;
        }

        .card-icon svg {
            height: 2.25rem;
            width: 2.25rem;
        }

        .card-sec-color svg, .card-sec-color span {
            color: var(--secondary);
            fill: var(--secondary);
        }
        .card-acc-soft-color svg, .card-acc-soft-color span {
            color: var(--accent);
            fill: var(--accent);
        }
        .card-acc-strong-color svg, .card-acc-strong-color span {
            color: var(--accent-alert-strong);
            fill: var(--accent-alert-strong);
        }