.flex{
    display: flex;
    flex-direction: row;
}
.body2-section1{
 background-color: black;
 padding: 3rem 1rem;
}
.body2-minicontainer1, .body2-section2{
    background-color: rgba(255, 255, 255, 0.377);
    border: 1px solid white;
    border-radius: 50px;
    width: 920px;
    margin: 0 auto;
    padding: 3rem 0;
}
.body2-header1{
    text-align: center;
    margin-bottom: 2rem;
}
.body2-card-container{
    gap: 30px;
    padding: 0 10rem;
}
.body2-card-container p{
    font-size: 16px;

}
.body2-left-card {
    background: linear-gradient(180deg, #ffd800, #fdab32);
    width: 310px;
    color: #280D5F;
    transform: rotate(-3deg);

}
.body2-right-card{
    background : linear-gradient(#87a7ee,#7645d9);
    width: 310px;
    color: black;
    transform: rotate(3deg);


}
.body2-card{
    border-radius: 20px;
    padding: 1rem 1rem;
}
.body2-icon{
    text-align: end;
}
.card-header{
    line-height: 10px;
    margin-bottom: 2rem;
} 
.card-header p{
    font-weight: 600;
}
.card-main p{
    font-weight: 400;
    margin-bottom: 2rem;
}
.body2-minicontainer1 h2 {
    font-weight: 600;
    font-size: 40px;
}
.card-button{
    margin-bottom: 1rem;
    text-align: center;
}
.card-button button{
    width: 90%;
    height: 3rem;
    border-radius:20px;
    display: flex;
    justify-content: center;
    line-height:3rem;
    gap: 1rem;
}
.card-button button img{ 
    width: 20px;
    height: 2.7rem;
}
/* ------------section2-------------- */

.section2-header{
    margin-bottom: 3rem;
}
.section2-right{
    width: 80%;
    background-color: #280D5F;
    height: 100px;
}

.section2-data{
    justify-content: space-between;
}
.section2-data > .flex-column > *{
    border-left: 1px solid blue;
    padding-left: 1rem;
    margin-bottom: 3rem;
}
.section2-left :first-child{
    padding-top: inherit;
}
.section2-left > *{
    margin-top: 1rem;
}
.section2-left > .flex{
    gap: 1rem;
}

.sibling-link{
    padding-top: 1rem;
}

/* ------------section3-------------- */


.body2-section3{
    text-align: center;
    background: #7444D4;
    padding: 5rem 0;
}
.body2-section3 h2{
    color: white;

}
.body2-section3 p{
    color: white;
}

.body2-section3 p:first-of-type{
    margin-top: 1rem;
}
.body2-section3 > div:first-of-type{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.body2-section3 > button {
 margin: 0 auto;   
}

