.flex{
    display: flex;
    flex-direction: row;
}


/* ------------section2-------------- */

.section2-left > *{
    margin-top: 1rem;
}
.section2-left > .flex{
    gap: 1rem;
}

.sibling-link{
    padding-top: 1rem;
}

/* ------------section3-------------- */


.body2-section3{
    text-align: center;
    background: #7444D4;
    padding: 5rem 0;
}
.body2-section3 h2{
    color: white;

}
.body2-section3 p{
    color: white;
}

.body2-section3 p:first-of-type{
    margin-top: 1rem;
}
.body2-section3 > div:first-of-type{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.body2-section3 > button {
 margin: 0 auto;   
}
/* ---------------------- */
.section4-data> *{
    border-left: 1px solid var(--secondary-lightest);
    padding-left: 1rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
}
.p12{
    font-size:12px;
    font-weight: 800;
}


