/****************/
/*COMMON CLASSES*/
/****************/

    .cta {
        padding-top: 1rem;
        gap: 0.5rem;
        align-items: center;
    }

/***********/
/*SECTION 1*/
/***********/

    .landing-section{
        position: relative;
        gap: 1rem;
        padding: 4rem 0;
        background: var(--bg-gradient-1);
    }

    .landing-section .title {
        padding: 1rem 0;
    }

/***********/
/*SECTION 2*/
/***********/
    .section-2 {
        position: relative;
        gap: 2rem;
        padding: 4rem 0;
        background: var(--bg-gradient-2);
    }
    
    .section-2 .cards-container {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

/***********/
/*SECTION 3*/
/***********/
    .section-3 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 6rem 0;
        background: var(--primary);
    }

/***********/
/*SECTION 4*/
/***********/
    .section-4 {
        position: relative;
        gap: 1rem;
        padding: 4rem 0;
        background: var(--bg-gradient-3);
    }
    .section-4-wrapper {
        max-width: var(--section-max-w);
        margin: 0 auto;
    }
    .data-title h4 {
        margin: 0;
    }
    .data-title button {
        height: 1.5rem;
        padding: 0 .5rem;
        border: none;
        outline: none;
        background-color: transparent;
        transition: all .2s ease-in;
    }
    .data-title button:hover {
        opacity: .6;
    }
    .data-title button svg {
        fill: var(--primary-darkmode);
        height: 100%;
    }
    :root:has(#dark-mode:checked) .data-title button svg {
        fill: var(--secondary-lightest);
    }
    
    .data-container {
        position: relative;
        width: 100%;
        height: 4rem;
    }
    .section-4 .data{
        width: 100%;
        justify-content: space-between;
    }
    .section-4 .data > .flex-column > *{
        border-left: 1px solid var(--secondary-lightest);
        padding-left: 1rem;
        margin-bottom: 3rem;
    }
    .show-data {
        opacity: 1;
        position: absolute;
        transition: all .3s ease-in-out;
    }
    .hyde-data {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transform: translateY(3rem);
        transition: all .3s ease-in-out;
    }

