.footer-wrapper {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-top:48px;
    padding-bottom: 20px;
    background: #27262C;
    overflow: hidden;
    height: 499px;
}
.footer-container{
 width: 1200px;
 font: var(--paragraph);
 display: flex;
 flex-direction: column;
}

.ul {
    padding: 0;
}

.footer1 {
    display: flex;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
}

.listaa a {
    text-decoration: none;
    color: var(--accent-alert-soft);
}

.lista:first-child {
 font: var(--paragraph);
 color: var(--secondary-lighter); 
}

.lista,
.listaa {
    list-style-type: none;
    color: rgb(255, 241, 241);
    margin-bottom: 8px;
    box-sizing: border-box;
}

.lista>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.lista>a:hover,
.listaa>a:hover {
    text-decoration: underline;
}

.footer2 {
    margin-top: 10px;
    border-bottom: 1px solid #383241;
    display: flex;
   padding-bottom: 28px;

}
.social-container{
    display: flex;
    gap:1.5rem;
    padding-bottom:3px
}
.telegram{
    position: relative;
}

.tele-lang{
    display:flex;
    flex-direction: column;
    position:absolute;
    transform: translate(-50%, 0px);
    left: 50%;
    bottom: 100%;
    opacity: 0;
    pointer-events: none;
    width: 145px;
    height: 16rem;
    overflow-y: scroll;  
}
.telegram:hover .tele-lang{ 
opacity:1;
pointer-events: all;

}
.tele-lang a{
    color:grey;
    background: rgb(60, 58, 58);
    text-decoration: none;
}
.lang-en, .en{
    display:flex;
   overflow: hidden;
}
.prima-parte{
    display:flex;
    gap:1.2rem;
    align-items: center;
    position: relative;
    
}
.other-lang{
    display: flex;
    flex-direction: column;
    position:absolute; 
    pointer-events: none;
    opacity:0;
    overflow:scroll;
    height: 15rem;
    z-index: 10;
    transition: all .1s ease-i
}
.lang-en, .en{
    background: none;
    color:grey;
    gap:.3rem;
    font-size:1rem;
}
#footer-lang:focus ~ .other-lang{
 opacity:1;
 pointer-events: all;
}
.footer3{
    display: flex;
    justify-content: space-between;
    margin-top:2.3rem; 
}
.soldi,
.valore>a {
    display: inline;
    color: rgba(199, 180, 180, 0.63);  
}

.sc-a8cf5f33-0 { /*ci sta un a:visited color inherit che fa cambiare colore */
    display: inline-flex;
    font-size: 16px;
    margin-left: 20px;
    color:white;
    text-decoration: none;
    border: none;
    height: 32px;
    border-radius: 16px;
    padding:0px 16px;
    justify-content: center;
    letter-spacing: 0.03rem;
    align-items: center;
    line-height: 1;
    background: #1fc7d4;
    transition: opacity .3s;
    gap:.5rem;
}
.sc-a8cf5f33-0:hover{
    opacity:0.65;
}
.seconda-parte {
    display: flex;

    align-items: center;
   
}
 .bunny-icon{
    align-self: center;
    margin-right: 2px;
    padding:0px 10px;
   transform: scale(100%);
   transition: all .6s cubic-bezier(0, 3.06, 0.45,-0.85);
}
.bunny-icon:hover{
   transform: scale(110%);
}

@media screen and (min-width:576px){
    .footer-wrapper{
        padding: 56px 40px 32px;
        margin-bottom: 0px;
    }  
}
