nav{
    background-color: var(--primary);
}

:root:has(#dark-mode:checked) nav {
    --primary: var(--background-alt);
    --primary-darker: var(--card-shadow-dark); /*#353547*/
}
.ps-nav-link {
    border-radius: 1rem;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.ps-nav-link:hover{
    background-color: var(--primary-darker);
}

.dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
    background-color: var(--primary-darker);
}

.rotondo{
    border-radius: 1.5rem;
    background-color: var(--primary);
    color: white;
}

hr{
    border: none;
    height: 1px;
    background-color: white;

}

.dropdown-lingue{
    max-height: 400px;
    overflow-y: auto;
}