nav{
    background-color: var(--primary);
}

#navbar{
    position: fixed;
    transition: top 0.4s; 
    top: 0;
    width: 100%;
    z-index: 10000;
}

:root:has(#dark-mode:checked) nav {
    --primary: var(--background-alt);
    --primary-darker: var(--card-shadow-dark); /*#353547*/
}
.ps-nav-link {
    border-radius: 1rem;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.ps-nav-link:hover{
    background-color: var(--primary-darker);
}

.dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
    background-color: var(--primary-darker);
}

.rotondo{
    border-radius: 1.5rem;
    background-color: var(--primary);
    color: white;
}

hr{
    border: none;
    height: 1px;
    background-color: white;

}

.dropdown-lingue{
    max-height: 400px;
    overflow-y: auto;
}

nav img, nav svg {
    height: 1.5rem;
}

.logo-extended {
    fill: var(--primary-darkmode);
}

:root:has(#dark-mode:checked) .logo-extended {
    fill: var(--primary-static);
}

.logo-extended .eye{
    transform-origin: 50% 60%;
}
.logo-extended:hover .eye{
    animation: blink 500ms linear 1 normal forwards
}
.logo-small {
    display: none;
}

.bnb-smart-chain .menu-button {
    position: relative;
    display: flex;
    padding-left: 3rem;
    background: #EEF4FF;
}
.bnb-smart-chain .menu-button img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}


@keyframes blink { 
    0% {
        transform: scale(1,1);
        animation-timing-function: cubic-bezier(0.7,0,0.3,1)
    } 
    50% {
        transform: scale(1,0);
        animation-timing-function: cubic-bezier(0.7,0,0.3,1)
    } 
    100% {
        transform: scale(1,1)
    }
}

@media screen and (max-width: 967px) {
    .logo-small {
        display: block;
    }
    .logo-extended {
        display: none;
    }

    .logo-small:hover .eyes{
        animation: blink 500ms linear 1 normal forwards
    }

    @keyframes blink { 
        0% {
            transform: translate(98.692997px,117.896004px) scale(1,1);
            animation-timing-function: cubic-bezier(0.7,0,0.3,1)
        } 
        50% {
            transform: translate(98.692997px,117.896004px) scale(1,0);
            animation-timing-function: cubic-bezier(0.7,0,0.3,1)
        } 
        100% {
            transform: translate(98.692997px,117.896004px) scale(1,1)}
        }
}